.body-content {
  height: calc(100vh - 99px);
}

.body-content>.row {
  height: 100%;
}

.full-width {
  width: 100%;
}

.pr-15 {
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.bg-navbar-orange {
  background-color: #e3350d;
  border-bottom: 3px solid #ffcb04;
  /*height: 90px;*/
}

.bg-navbar-orange img {
  max-height: 70px;
  margin-left: 15px;
}

.bg-navbar-orange .nav-link {
  color: white;
  font-size: 20px;
}

.bg-navbar-orange .nav-link:hover {
  color: #ffcb04;
}

.bg-navbar-orange .form-control {
  height: 50px;
  border-radius: 15px;
}

.filter-bar {
  border-left: 3px solid #dfe5ee;
}

@media (max-width: 991px) {
  .bg-navbar-orange {
    height: auto;
  }
}